<div>
  <div class="py-4">
    <h2>Ingrese un nuevo plato</h2>

    <form action="/admin" method="post" enctype="multipart/form-data">
      <div class="form-group row w-50 m-auto">
        <div class="form-group col-12">
          <label>Nombre del plato</label>
          <input class="form-control m-auto" name="nombre" />
        </div>
        <div class="form-group col-12">
          <label>Descripción</label>
          <input class="form-control m-auto" name="descripcion" />
        </div>
        <div class="form-group col-12">
          <label>Precio</label>
          <input class="form-control m-auto" name="precio" />
        </div>
      </div>
      <div class="form-group col-12 mt-3">
          <label>Foto</label>
          <input type="file" name="foto" />
        </div>

      <button type="submit" class="btn btn-info mb-5 mt-3">Ingresar plato</button>
    </form>
  </div>

</div>



<script>
  $('button').click(async (e) => { e.preventDefault(); $('form').submit(); });

</script>